{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Dashboard - Chef de Département</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="{% static 'css/detail_memoire.css' %}">
</head>
<body class="bg-gray-100 font-sans">

  <div class="max-w-6xl mx-auto p-6">
    <h1 class="text-3xl font-bold mb-4">Bonjour {{ chef.user.first_name }} 👋</h1>

    <div class="mb-6">
      <a href="{% url 'ajouter_annonce' %}" class="inline-block bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 transition">
        ➕ Créer une nouvelle annonce
      </a>
      <a href="{% url 'liste_annonces' %}" class="inline-block bg-green-600 text-white px-4 py-2 rounded hover:bg-green-700 transition ml-2">
        📋 Voir toutes les annonces
      </a>
      <div class="header-top">
    <nav class="header-nav">
      {% if user.is_authenticated %}
        <a href="{% url 'liste_offres' %}" class="header-nav-link header-nav-primary">
          <i data-lucide="layout-dashboard"></i> Liste des Offres
        </a>
        <form action="{% url 'logout' %}" method="post" class="logout-form">
          {% csrf_token %}
          <button type="submit" class="header-nav-link">Déconnexion</button>
        </form>
      {% else %}
        <a href="{% url 'login' %}" class="header-nav-link">
          <i data-lucide="log-in"></i> Connexion
        </a>
        <a href="{% url 'register' %}" class="header-nav-link header-nav-primary">
          <i data-lucide="user-plus"></i> Inscription
        </a>
        <a href="{% url 'chatbot' %}" class="header-nav-link">
          <i class="fas fa-robot"></i> Assistant
        </a>
      {% endif %}
    </nav>
  </div>
    </div>
   

</body>
</html>