<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: rgb(63, 87, 107);
            font-family: 'Times New Roman', Times, serif;
            text-align: center;
            margin-top: 100px;
            color: #5d2818;
        }
        h1{
            color: #5d2818;
        }
    </style>
</head>
<body>
    <h1>Bonjour, Lamine</h1>
</body>
</html>